<!DOCTYPE html>
<html lang="en">
<!-- external -->
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<head>
  <header>
    <%- include('partials/header') %>
  </header>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
  <div class="row">
    <% for(const resource of resources){ %>
      <div class="card" style="width: 40rem; margin: 10px auto 10px auto;">
        <img src="<%= resource.cover_photo_url %>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= resource.title %></h5>
          <p class="card-text"><%= resource.description %></p>
          <a href="/resources/<%= resource.id %>" class="btn btn-secondary">Browse</a>
        </div>
      </div>
     <% } %>
  </div>
</body>

</html>
